<div class="content-wrapper">
  <div class="container">
      <div class="logo-title">
        <img src="logo1.png" height="40px" width="50px" class="logo">
        <span><h2 class="title">Ideal Innovation House</h2></span>
      </div>
      <br>
      <h1>Transform Your Business with <br>Cutting-Edge Technology Solutions</h1>
      <br>
      <p>Empowering Innovations, Enriching Lives with AI and Advanced Tech</p>
      <br>
      <div id="home">
        <button class="link-button" (click)="navigateToLogin()">Login</button>
      </div>
  </div>
</div>
    